@model List<NewsApplication.Application.ViewModels.Announcements.AnnouncementViewModel>?

@{
    ViewBag.Title = "Xəbərlər";
}
@if (Model is null)
{
    return;
}


<div class="container">
    <div class="row">
        @foreach (var announcement in Model)
        {
            <div class="col-3 py-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <a asp-area="" asp-controller="Announcement" asp-action="Detail" asp-route-id="@announcement.Id">
                        <div class="card-body">
                            <h5 class="card-title">@announcement.Title</h5>
                            <a href="#" class="btn btn-primary">
                                @announcement.LikeCount
                                <i class="far fa-thumbs-up"></i>
                            </a>
                            <a href="#" class="btn btn-primary">
                                @announcement.DislikeCount
                                <i class="far fa-thumbs-down"></i>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>